* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
body{
    background-color: #bdd6d2 ;
}

html {
    overflow-x: hidden;
}
.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #bdd6d2;
    padding-top: 32px ;
    color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header > .container{

    justify-content: space-between ;
    align-items: center;
    padding-bottom:24px;
}

nav {
    background-color: #e3e5d7;
    padding: 16px 0;
    display: none;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    height: 4px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

.container-flex {
    display: flex;
    padding-bottom: 24px;
}

#sobre-loja img {
    min-width: 400px;
}

.font{
    font-size: 32px;
    margin: 16px 0;
    color: #fff;
}

.lista-sapato li{
    list-style: none;
}

.lista-sapato li img {
    display: grid;
    grid-template-columns: repeat(4, 23.75%) ;
    column-gap: 1%;
    row-gap: 1%;
}
img{
    max-width: 250px;
    min-width: 250px;
    max-height: 250px;
    min-height: 250px;
}
li button {
    display: block;
    cursor: pointer;
    width: 250px;
    padding: 10px 0;
    border-radius: 5px;
    border:none;
    background-color:#e3e5d7 ;
    font-weight: bolder;
    font-size: 16px;
    margin-top: 20px ;
}

.text {
    padding: 24px;
    color: #fff;
}

@media screen and (max-width:640px) {
    .lista-sapato li img {
        display:block;
    }

    .container{
        max-width: 90%;
    }

    .container-flex {
        display:block;
    }

    .prod {
        margin-bottom: 16px;
    }

.menu-hamburguer{
    margin-top: 8px;
}
}

@media screen and (min-width:641px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    .lista-sapato {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    }
}

